
<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Number of Matches</title>
    </head>
    <body>
        <div class="container">
            <h2>Total number of matches</h2>
            <h5>{{ matches }}</h5>
            <form action="/">
            <button type="submit" class="btn btn-info">Home</button>
        </form>
    </body>
</html>
